/* Fonts family */
@font-face {
  font-family: "norsebold";
  src: url("norse-bold-webfont.woff2") format("woff2"),
    url("norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* GENERAL STYLES */
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #aeaeae;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  margin-top: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  background-color: #fff;
  /* gap: 20px; */
}

.main__left {
  background-image: url("assets/images/halie-west-25xggax4bSA-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.main__left div {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  column-gap: 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.main__left img {
  width: 100px;
}

.primary-heading {
  font-family: "norsebold";
  color: #fff;
  font-size: 51px;
  margin: 0;
}

.main__right {
  align-self: center;
}

.title {
  font-size: 24px;
  margin-bottom: 32px;
  line-height: 1.5;
  padding-left: 25px;
}

/* FORM STYLES */

.form .shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 25px;
}

.form__heading {
  margin-top: 0;
}

.form__container {
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(2, 1fr);

  row-gap: 24px;
}

.form__container div label {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 8px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"] {
  width: 70%;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
  font-family: inherit;
  font-size: 14px;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form input[type="tel"]:focus {
  outline: 1px solid blue;
}

input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
input[type="password"]:invalid:not(:focus):not(:placeholder-shown),
input[type="tel"]:invalid:not(:focus):not(:placeholder-shown) {
  outline: 1px solid red;
}

input[type="text"]:invalid:focus:not(:placeholder-shown) ~ .val-msg,
input[type="email"]:invalid:focus:not(:placeholder-shown) ~ .val-msg,
input[type="password"]:invalid:focus:not(:placeholder-shown) ~ .val-msg,
input[type="tex"]:invalid:focus:not(:placeholder-shown) ~ .val-msg {
  height: 25px;
}

.form__container div input[type="text"]:valid:not(:placeholder-shown),
.form__container div input[type="email"]:valid:not(:placeholder-shown),
.form__container div input[type="password"]:valid:not(:placeholder-shown),
.form__container div input[type="tel"]:valid:not(:placeholder-shown) {
  outline: 1px solid green;
}

.form__container .val-msg {
  font-size: 12px;
  height: 0;
  width: 100%;
  transition: all 0.3s ease;
  overflow: hidden;
  color: red;
  margin-top: 4px;
}

.form__button-container {
  padding-left: 25px;
  margin-top: 48px;
}
.form div button {
  width: 200px;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #596d48;
  border: 0;
  color: #fff;
  font-size: 16px;
  margin-bottom: 18px;
}

.form div a {
  text-decoration: none;
  color: #596d48;
  font-weight: bold;
}
